APP_ENV=development
API_PORT=3000
DATABASE_CLIENT=mysql
DATABASE_URL=mysql://user:password@localhost:3306/prece_digital
PRODUCTION_DATABASE_CLIENT=postgres
PRODUCTION_DATABASE_URL=postgres://user:password@localhost:5432/prece_digital
SESSION_SECRET=change-me
